In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr
yf.pdr_override()

In [6]:
x = pd.read_csv("../data/company_info/sp500.csv")
x.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [7]:
y = x['Symbol']
chunks = 50
curr = 0 
y = list(y)
symbol_list = []
while curr < len(y):
    symbol_list.append(y[curr:curr+chunks])
    curr = curr + chunks

In [8]:
test01 = symbol_list[0:10]
test01[0]
end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)
test01
#res = yf.download(test01, start, end)
res = yf.download(test01[0],group_by="ticker")

[*********************100%%**********************]  50 of 50 completed

In [9]:
res.to_pickle('./stock50.pkl')

In [10]:
res

                  GOOG                                                  \
                  Open        High         Low       Close   Adj Close
Date
1962-01-02         NaN         NaN         NaN         NaN         NaN
1962-01-03         NaN         NaN         NaN         NaN         NaN
1962-01-04         NaN         NaN         NaN         NaN         NaN
1962-01-05         NaN         NaN         NaN         NaN         NaN
1962-01-08         NaN         NaN         NaN         NaN         NaN
...                ...         ...         ...         ...         ...
2024-01-08  138.000000  140.639999  137.880005  140.529999  140.529999
2024-01-09  140.059998  142.800003  139.789993  142.559998  142.559998
2024-01-10  142.520004  144.524994  142.460007  143.800003  143.800003
2024-01-11  144.895004  146.660004  142.214996  143.669998  143.669998
2024-01-12  144.339996  144.739899  143.360001  144.240005  144.240005

                              ABNB                                      ...  \
                Volume        Open        High         Low       Close  ...
Date                                                                    ...
1962-01-02         NaN         NaN         NaN         NaN         NaN  ...
1962-01-03         NaN         NaN         NaN         NaN         NaN  ...
1962-01-04         NaN         NaN         NaN         NaN         NaN  ...
1962-01-05         NaN         NaN         NaN         NaN         NaN  ...
1962-01-08         NaN         NaN         NaN         NaN         NaN  ...
...                ...         ...         ...         ...         ...  ...
2024-01-08  17645300.0  137.309998  140.250000  136.610001  140.080002  ...
2024-01-09  19579700.0  138.520004  139.539993  137.789993  139.529999  ...
2024-01-10  16641900.0  139.199997  140.824997  138.699997  139.759995  ...
2024-01-11  17471100.0  140.710007  141.199997  137.550003  139.449997  ...
2024-01-12  13710960.0  139.350006  140.990005  137.130005  137.139999  ...

                  AMAT                                            MMM  \
                   Low       Close   Adj Close     Volume        Open
Date
1962-01-02         NaN         NaN         NaN        NaN    0.000000
1962-01-03         NaN         NaN         NaN        NaN    0.000000
1962-01-04         NaN         NaN         NaN        NaN    0.000000
1962-01-05         NaN         NaN         NaN        NaN    0.000000
1962-01-08         NaN         NaN         NaN        NaN    0.000000
...                ...         ...         ...        ...         ...
2024-01-08  149.720001  151.559998  151.559998  6515500.0  108.260002
2024-01-09  148.929993  151.029999  151.029999  5606700.0  108.199997
2024-01-10  148.240005  149.809998  149.809998  5035700.0  109.019997
2024-01-11  148.479996  151.949997  151.949997  5995600.0  108.300003
2024-01-12  150.369995  151.250000  151.250000  4075853.0  109.419998


                  High         Low       Close   Adj Close   Volume
Date
1962-01-02    4.250000    4.125000    4.156250    0.702820   212800
1962-01-03    4.187500    4.085938    4.187500    0.708105   422400
1962-01-04    4.257813    4.187500    4.187500    0.708105   212800
1962-01-05    4.171875    4.062500    4.078125    0.689609   315200
1962-01-08    4.085938    4.031250    4.054688    0.685646   334400
...                ...         ...         ...         ...      ...
2024-01-08  108.959999  107.589996  108.860001  108.860001  2119600
2024-01-09  109.300003  107.349998  109.099998  109.099998  2458000
2024-01-10  109.120003  107.839996  108.300003  108.300003  1999800
2024-01-11  109.000000  107.209999  108.919998  108.919998  2685800
2024-01-12  110.160004  107.889999  108.120003  108.120003  2913595

[15615 rows x 300 columns]